.product-asks .ask-section {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  font-weight: 500;
}

.product-asks .ask-section p {
  margin: 1.5rem 0;
}

.product-asks h2 {
  margin-bottom: 2rem;
}

.product-asks label {
  display: block;
  font: var(--font-p);
  margin-bottom: 1rem;
  grid-column: 1/-1;
}

.product-asks .ask-section input {
  border-radius: 6px;
  border: 1px solid #272727;
  padding: 0.8rem;
}

.product-asks .ask-section p {
  grid-column: 1/-1;
}

.product-asks .ask-section button {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-column: 2;
  grid-row: 2;
}

.comments-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.comment-author {
  display: flex;
  justify-content: space-between;
}

.comment-author a,
.comment-author span {
  margin: 0;
  font: var(--font-pp);
}

.comment-content {
  position: relative;
}

.comment-content p {
  display: flex;
  gap: 1rem;
  transition: 0.2s;
  white-space: break-spaces;
  line-break: anywhere;
}

.comment:global(.none) {
  opacity: 0.4;
}

.comment:global(.active) .reply-comment {
  display: none !important;
}

.comment svg {
  margin-right: 8px;
}

.reply {
  display: flex;
  margin-left: 12px;
  margin-top: 8px;
}

.reply p,
.comment-author,
.comment-author a {
  color: var(--c-b3);
  font: var(--font-pp);
}

.reply-comment {
  display: none;
  transition: 0.2s;
  position: absolute;
  right: 80%;
  bottom: 0;
  cursor: pointer;
  color: var(--c-b3);
  text-transform: lowercase;
}

.comment:hover .reply-comment {
  display: block;
}

.questions {
  margin-top: 1rem;
  color: #272727;
  font: var(--font-p-600);
  color: var(--c-g1);
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
}

@media (max-width: 830px) {
  .reply-comment {
    display: block;
    position: static;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
}

@media (max-width: 600px) {
  .product-asks .ask-section {
    display: flex;
    flex-direction: column;
  }
}
