.productAsks .askSection {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  font-weight: 500;
}

.productAsks .askSection p {
  margin: 1.5rem 0;
}

.productAsks h2 {
  margin-bottom: 2rem;
}

.productAsks label {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
  grid-column: 1/-1;
}

.productAsks .askSection input {
  border-radius: 6px;
  border: 1px solid #272727;
  padding: 0.8rem;
}

.productAsks .askSection p {
  grid-column: 1/-1;
}

.productAsks .askSection button {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-column: 2;
  grid-row: 2;
}

.commentsContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.commentAuthor {
  display: flex;
  justify-content: space-between;
}

.commentAuthor a,
span {
  margin: 0;
  font-size: 0.8rem;
}

.commentContent {
  position: relative;
}

.commentContent p {
  display: flex;
  gap: 1rem;
  transition: 0.2s;
  white-space: break-spaces;
  line-break: anywhere;
}

.comment:global(.none) {
  opacity: 0.4;
}

.comment svg {
  margin-right: 8px;
}

.reply {
  display: flex;
  margin-left: 12px;
  margin-top: 8px;
}

.reply p {
  color: rgba(0, 0, 0, 0.55);
  font-size: 0.9rem;
}

.replyComment {
  display: none;
  transition: 0.2s;
  position: absolute;
  right: 80%;
  bottom: 0;
}

.comment:hover .replyComment {
  display: block;
}

@media (max-width: 600px) {
  .productAsks .askSection {
    display: flex;
    flex-direction: column;
  }
}
