.products-bg {
  display: grid;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex: 1;
  width: 100%;
}

.filter {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: start;
}

.filter p {
  font-size: 0.8rem;
}

.filter select {
  background: none;
  border-radius: 4px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.sort {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.search h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.products {
  display: grid;
  gap: 1rem;
}

.products li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  padding: 1rem;
}

.products li:not(:last-child) {
  border-bottom: 1px solid rgb(207, 207, 207);
}

.products .product-infos {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.products .product-infos * {
  white-space: break-spaces;
  line-break: anywhere;
}

.products .product-infos .price {
  font-size: 1.3rem;
}

.products .product-infos .user {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.products .product-infos .portion {
  font-size: 0.8rem;
  color: #2dd096;
  font-weight: 600;
}

.products li img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-height: 11rem;
  min-height: 11rem;
  max-width: 11rem;
  min-width: 11rem;
}

@media (max-width: 600px) {
  .sort {
    gap: 0rem;
    flex-direction: column;
  }
}
