.product-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  gap: 2rem;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 0.1), 0 -1px 2px 0 rgb(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 0.1), 0 -1px 2px 0 rgb(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 0.1), 0 -1px 2px 0 rgb(0, 0, 0, 0.1);
}

.product-content h2 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.product-infos {
  display: flex;
  flex-flow: wrap;
  flex: 1;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

.product-infos::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #dfdfdf;
  grid-column: 1/-1;
}

.product-like {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 0.4rem;
  z-index: 100;
}

.product-like svg {
  width: 32px;
  height: 32px;
  transition: 0.3s;
}

.product-like:hover svg,
.product-like:global(.active) svg {
  fill: #e54;
}

.product-images {
  display: grid;
  grid-template-columns: 5rem max-content;
}

.product-images figure {
  max-height: 31.2rem;
  max-width: 15.6rem;
  width: 15.6rem;
}

.product-images figure img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.galery-images {
  grid-column: 1;
  grid-row: 1;
  flex-direction: column;
  display: flex;
  margin: 16px;
  gap: 0.6rem;
}

.galery-images picture {
  border: 2px solid #2dd096;
  border-radius: 6px;
}

.galery-images picture:global(.active) {
  border: 2px solid #0e9162;
}

.galery-images picture img {
  max-width: 44px;
  width: 44px;
  object-fit: contain;
}

.product-infos-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1.5rem;
}

.product-infos-fields .product-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.product-infos-fields .product-price {
  display: flex;
  flex-direction: column;
}

.product-infos-fields .product-price p {
  font-size: 2rem;
}

.product-infos-fields .product-price span {
  font-size: 0.8rem;
  margin-left: 2px;
  color: #0e9162;
  font-weight: 600;
}

.product-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-btns button {
  margin: 0;
}

.product-btns button:nth-child(2) {
  background: transparent;
  border: 2px solid #2dd096;
  color: #2dd096;
}

.product-btns button:nth-child(2):hover {
  background: #0e9162;
  border: 2px solid #0e9162;
  color: #fff;
}

.product-description p {
  white-space: break-spaces;
  line-height: 1.5;
  font-size: 1.1rem;
}

@media (min-width: 63.75rem) {
  .product-btns {
    max-width: 40ch;
  }

  .product-infos-fields .product-price span,
  .product-infos-fields .product-price p,
  .product-infos-fields .product-name {
    max-width: 30ch;
  }
}

@media (max-width: 63.75rem) {
  .product-infos-fields .product-name,
  .product-price span,
  .product-btns {
    max-width: none;
  }

  .product-content {
    padding: 1rem 1.5rem;
  }

  .product-infos-fields {
    padding: 0;
    width: 100%;
  }
}
