.product-container {
  padding-top: var(--padding-top-page);
  padding-bottom: var(--padding-bottom-page);
  width: 100%;
}

.product-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--c-w1);
  box-shadow: var(--box-shadow-pattern);
  -webkit-box-shadow: var(--box-shadow-pattern);
  -moz-box-shadow: var(--box-shadow-pattern);
  width: 100%;
}

.product-content h2 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.product-infos {
  display: flex;
  flex-flow: wrap;
  flex: 1;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

.product-infos::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #dfdfdf;
  grid-column: 1/-1;
}

.product-like {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 0.4rem;
  z-index: 100;
}

.product-like svg {
  width: 32px;
  height: 32px;
  transition: 0.3s;
}

.product-like:hover svg,
.product-like:global(.active) svg {
  fill: var(--c-r1);
}

.product-like:global(.rotate) {
  transform: rotate(90deg);
}

.product-images {
  display: grid;
  grid-template-columns: 5rem max-content;
}

.product-images figure {
  max-height: 31.2rem;
  max-width: 15.6rem;
  width: 15.6rem;
}

.product-images figure img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.galery-images {
  grid-column: 1;
  grid-row: 1;
  flex-direction: column;
  display: flex;
  margin: 16px;
  gap: 0.6rem;
}

.galery-images picture {
  border: 2px solid var(--c-g2);
  border-radius: 6px;
}

.galery-images picture:global(.active) {
  border: 2px solid var(--c-g1);
}

.galery-images picture img {
  max-width: 44px;
  width: 44px;
  object-fit: contain;
}

.product-infos-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1.5rem;
}

.product-infos-fields .product-name {
  font: var(--font-l-500);
}

.product-infos-fields .product-price {
  display: flex;
  flex-direction: column;
}

.product-infos-fields .product-price p {
  font: var(--font-ll);
}

.product-infos-fields .product-price span {
  font: var(--font-pp-600);
  margin-left: 2px;
  color: var(--c-g1);
}

.product-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-btns button {
  margin: 0;
}

.product-btns button:nth-child(2) {
  background: transparent;
  border: 2px solid var(--c-g2);
  color: var(--c-g2);
}

.product-btns button:nth-child(2):hover {
  background: var(--c-g1);
  border: 2px solid var(--c-g1);
  color: var(--c-w1);
}

.product-description p {
  white-space: break-spaces;
  font-size: 1.1rem;
  line-height: 1.5;
}

@media (min-width: 63.75rem) {
  .product-btns {
    max-width: 40ch;
  }

  .product-infos-fields .product-price span,
  .product-infos-fields .product-price p,
  .product-infos-fields .product-name {
    max-width: 30ch;
  }
}

@media (max-width: 63.75rem) {
  .product-infos-fields .product-name,
  .product-price span,
  .product-btns {
    max-width: none;
  }

  .product-content {
    padding: 1rem 1.5rem;
  }

  .product-infos-fields {
    padding: 0;
    width: 100%;
  }
}
