.products-bg {
  display: grid;
  padding-top: var(--padding-top-page);
  padding-bottom: var(--padding-bottom-page);
  flex: 1;
  width: 100%;
}

.filter {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: start;
}

.filter p {
  font: var(--font-pp);
}

.filter select {
  background: none;
  border-radius: 4px;
  font: var(--font-p);
  border: none;
  cursor: pointer;
}

.sort {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.search h1 {
  font: var(--font-l-600);
  margin-bottom: 0.3rem;
}

.products {
  display: grid;
  gap: 1rem;
}

.products li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  padding: 1rem;
}

.products li:not(:last-child) {
  border-bottom: 1px solid rgb(207, 207, 207);
}

.products .product-infos {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.products .product-infos * {
  white-space: break-spaces;
  line-break: anywhere;
}

.products .product-infos .price {
  font: var(--font-pl);
}

.products .product-infos .user {
  font: var(--font-pp);
  margin-bottom: 1rem;
  color: var(--c-b3);
  margin-top: 0.2rem;
  max-width: max-content;
}

.products .product-infos .portion {
  font: var(--font-pp);
  color: var(--c-g2);
  font-weight: 600;
}

.products li img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-height: 11rem;
  min-height: 11rem;
  max-width: 11rem;
  min-width: 11rem;
}

@media (max-width: 600px) {
  .sort {
    gap: 0rem;
    flex-direction: column;
  }

  .products li {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .products .product-infos {
    width: 100%;
  }
}
