.reply-content input {
  width: 100%;
  padding: 0.4rem;
  border-radius: 6px;
  border: 1px solid #000;
}

.reply-content div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.reply-content p {
  cursor: pointer;
}

.reply-content button {
  padding-left: 1rem;
  padding-right: 1rem;
}
