.transaction-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  flex: 1;
  width: 100%;
  padding-top: var(--padding-top-page);
  padding-bottom: var(--padding-bottom-page);
}

.infos {
  box-shadow: var(--box-shadow-pattern);
  -webkit-box-shadow: var(--box-shadow-pattern);
  -moz-box-shadow: var(--box-shadow-pattern);
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.infos li {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-bottom: 1rem;
}

.infos li:not(:last-child) {
  border-bottom: 1px solid #e4e4e4;
}

.infos li div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.infos li div p {
  font: var(--font-pl-500);
}

.infos li p {
  white-space: break-spaces;
}

.form-content form div {
  margin-bottom: 1rem;
}

.form-content form button {
  width: 100%;
}

.payment {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.payment picture {
  width: 100%;
  background: rgb(236, 236, 236);
  padding: 0.5rem 0;
  border-bottom: 5px solid var(--c-g2);
  transition: 0.3s;
}

.payment svg {
  width: 100%;
  height: 40px;
  fill: var(--c-w3);
  transition: 0.3s;
}

@media (max-width: 830px) {
  .transaction-container {
    grid-template-columns: 1fr;
  }
}
