.user-content {
  padding-top: 1.5rem;
  border-top: 1px solid #dfdfdf;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-content li {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.user-content p:not(:last-child),
.user-content a {
  margin-bottom: 0.7rem;
}

.user-content .data {
  text-align: center;
}

.username,
.data,
.address,
.total-products {
  display: flex;
  align-items: center;
}

.username::before,
.data::before,
.address::before,
.total-products::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.username::before {
  background: url('../../Assets/UserProduct/user.svg') no-repeat center center;
}

.data::before {
  background: url('../../Assets/UserProduct/calendar.svg') no-repeat center center;
}

.address::before {
  background: url('../../Assets/UserProduct/location.svg') no-repeat center center;
}

.total-products::before {
  background: url('../../Assets/UserProduct/business.svg') no-repeat center center;
}

@media (max-width: 600px) {
  .user-content li {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
