.categories-home-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.categories-home-element {
  padding: 3rem 2rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  max-width: 20rem;
  min-width: 20rem;
  max-height: 13rem;
  min-height: 13rem;
  position: relative;
}

.categories-home-element:first-child::before,
.categories-home-element:last-child::before,
.categories-home-element:nth-child(2)::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  filter: grayscale(0.2);
  transition: 0.3s;
}

.categories-home-element:first-child:hover::before,
.categories-home-element:last-child:hover::before,
.categories-home-element:hover:nth-child(2)::before {
  filter: grayscale(0.8);
}

.categories-home-element:first-child::before {
  background: url('../../Assets/shoe.png') no-repeat center center;
  background-size: cover;
}

.categories-home-element:last-child::before {
  background: url('../../Assets/stair.png') no-repeat center center;
  background-size: cover;
}

.categories-home-element:nth-child(2)::before {
  background: url('../../Assets/cream.png') no-repeat center center;
  background-size: contain;
}

.categories-home-text span {
  font: var(--font-pp);
}

.categories-home-text b {
  font-weight: 900;
  font-size: 1.3rem;
}

.categories-home-text p {
  font: var(--font-pp);
}

.categories-home-text a {
  background: var(--c-g2);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: var(--c-w1);
  font-weight: 600;
  align-self: self-start;
  cursor: pointer;
  transition: 0.3s;
}

.categories-home-text a:hover {
  background: #446b22;
}

.categories-home-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 40px;
}
