.home {
  padding-bottom: var(--padding-bottom-page);
}

.img {
  display: block;
  background: url('../../Assets/moda.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 15rem;
  border-radius: 6px;
}
