.dropdownContent {
  position: relative;
  z-index: 10;
  padding: 10px;
}

.dropdown {
  display: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-direction: column;
  position: absolute;
  margin-top: 10px;
  background: #272727;
  top: 25px;
  white-space: nowrap;
  animation: show-up 0.3s forwards;
  gap: 0.8rem;
}

.dropdown::before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  width: 0px;
  left: 0;
  height: 0px;
  border-bottom: 8px solid #272727;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.dropdown li {
  width: 100%;
  white-space: nowrap;
  display: block;
  padding: 0px;
}

.dropdown li p,
.dropdown li a {
  padding: 0.8rem;
  cursor: pointer;
}

.dropdown li a {
  display: flex;
  width: 100%;
}

.dropdownContent:hover .dropdown,
.dropdownContent:global(.active) .dropdown {
  display: flex;
  max-width: 20rem;
  min-width: 20rem;
}

.subcategoriesContent {
  display: none;
  animation: show-up 0.3s forwards;
  background: #343434;
}

.dropdownItens {
  flex-direction: column;
}

.dropdownItens:global(.active) .subcategoriesContent {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.subcategorieName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subcategorieName svg {
  margin-right: 8px;
}

.dropdownItens p {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.dropdownItens p::after {
  content: '';
  display: inline-block;
  background: url('../../Assets/arrow.svg');
  transform: rotate(180deg);
  width: 12px;
  height: 12px;
  justify-self: end;
}

@keyframes show-up {
  from {
    transform: translateY(30px);
  }
  to {
    transform: initial;
  }
}
