@import './Fonts.css';
@import './Colors.css';

:root {
  --padding-top-page: 1.5rem;
  --padding-bottom-page: 1.5rem;
  --box-shadow-pattern: 0 1px 1px 0 rgb(0, 0, 0, 0.1), 0 -1px 2px 0 rgb(0, 0, 0, 0.1);
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.button {
  background: var(--c-g2);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font: var(--font-p-600);
  color: var(--c-w1);
  transition: 0.2s;
}

.button:hover {
  background: var(--c-g1);
}

.button:disabled {
  opacity: 0.7;
}

.button-outline {
  border: 1px solid var(--c-g2);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font: var(--font-p-400);
  color: var(--c-w1);
  transition: 0.2s;
}

.button-outline:hover {
  color: var(--c-w1);
  background: var(--c-g1);
}

.animeLeft {
  animation: animeLeft 0.3s forwards;
}

.flexAlign {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.modal-bg {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  display: grid;
  justify-content: center;
  align-items: center;
}

.modal {
  display: grid;
  background: var(--c-w1);
  padding: 20px;
  box-shadow: 0 0 0 10px white;
  position: relative;
  min-width: 40vw;
  max-width: 600px;
  border-radius: 4px;
}

@keyframes animeLeft {
  from {
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: initial;
  }
}

@media (max-width: 830px) {
  .container {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
  }
}
