.pagination-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination-btns li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pagination-btns .btnAnt,
.pagination-btns .btn-prox {
  cursor: pointer;
}

.pagination-btns li svg {
  margin-top: 2px;
}
