.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-content: center;
  padding-bottom: 1rem;
  min-width: 30rem;
  max-width: 30rem;
}

.form input {
  padding: 0.5rem 0.8rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  transition: 0.2s;
}

.form label:not(:first-child) {
  margin-top: 1rem;
}

.form label {
  font-weight: 600;
  color: #a5a5a5;
}

.form input:hover {
  outline: none;
  border-bottom-color: var(--c-g2);
}

.form input:focus {
  outline: none;
  border-bottom-color: var(--c-g2);
  background: #f0f0f0;
}

.contentLoginRegister {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid #ebe8e8;
}

.contentLoginRegister p {
  font: var(--font-pl-600);
  color: #a5a5a5;
}

.contentLoginRegister a {
  border: 2px solid var(--c-g2);
  max-width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: var(--c-g2);
  font-weight: 600;
  transition: 0.2s;
}

.contentLoginRegister a:hover {
  background: var(--c-g2);
  color: var(--c-w1);
}
