.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-content: center;
  padding-bottom: 1rem;
  min-width: 30rem;
  max-width: 30rem;
}

.form input {
  padding: 0.5rem 0.8rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  transition: 0.2s;
}

.form label:not(:first-child) {
  margin-top: 1rem;
}

.form label {
  font-weight: 600;
  color: var(--c-b3);
}

.form input:hover {
  outline: none;
  border-bottom-color: var(--c-g2);
}

.form input:focus {
  outline: none;
  border-bottom-color: var(--c-g2);
  background: #f0f0f0;
}

.form button {
  margin-top: 1rem;
}

.lost-password {
  display: block;
  color: var(--c-b3);
  font: var(--font-p-600);
  margin: 1.5rem 0;
  border-bottom: 2px solid var(--c-b3);
  max-width: max-content;
}

.content-register {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
}

.content-register p {
  font: var(--font-ll-500);
  color: var(--c-b3);
}

.content-register p::after {
  content: '';
  display: block;
  background: var(--c-b3);
  height: 0.3rem;
  width: 3rem;
  border-radius: 0.2rem;
}

.content-register a {
  border: 2px solid var(--c-g2);
  max-width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: var(--c-g2);
  font-weight: 600;
  transition: 0.2s;
}

.content-register a:hover {
  background: var(--c-g2);
  color: var(--c-w1);
}
