.aside {
  background: var(--c-w1);
  box-shadow: 2px 0 0 rgba(0, 0, 0, 0.171);
  padding: 2rem 0rem 0rem 0.4rem;
}

.aside ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: start;
}

.aside a:global(.active) {
  background: var(--c-w2);
  animation: animation 0.5s forwards;
  border-color: var(--c-g2);
}

@keyframes animation {
  to {
    width: 100%;
  }
}

@media (max-width: 830px) {
  .aside {
    height: max-content;
    overflow-x: auto;
    padding: 0;
  }
}
