.header {
  background: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.header nav {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

.header ul,
.header li {
  display: flex;
  gap: 1rem;
  align-items: center;
}
