.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.error svg {
  fill: var(--c-w3);
  width: 80px;
  height: 80px;
}

.error p {
  font: var(--font-l-600);
  text-transform: uppercase;
  color: var(--c-w3);
  text-align: center;
}
