.sections {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.sections svg {
  width: 26px;
  height: 26px;
}

.count {
  display: flex;
  align-items: center;
}

.count span {
  display: block;
  position: relative;
  top: -10px;
  right: 0;
  background: #e54;
  color: #fff;
  border-radius: 2.75rem;
  min-width: 0.6875rem;
  padding: 0 0.3125rem;
  height: 1rem;
}

@media (max-width: 830px) {
  .sections svg {
    fill: #fff;
  }
}
