*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background: #ebebeb;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  display: block;
  max-width: 100%;
}

@keyframes animeLeft {
  from {
    transform: translateX(-60px);
  }
  to {
    transform: initial;
  }
}
