*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background: #fff;
  color: #272727;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #272727;
}

img {
  display: block;
  max-width: 100%;
}

@keyframes animeLeft {
  from {
    transform: translateX(-60px);
  }
  to {
    transform: initial;
  }
}
