*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background: var(--c-w1);
  color: var(--c-b2);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--c-b2);
}

img {
  display: block;
  max-width: 100%;
}

label,
a {
  max-width: max-content;
}

textarea {
  resize: vertical;
}

@keyframes animeLeft {
  from {
    transform: translateX(-60px);
  }
  to {
    transform: initial;
  }
}
