.address {
  margin-top: 1.5rem;
  width: 100%;
}

.address form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.address-element {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.address-element .address-element-input {
  width: max-content;
  flex-grow: 1;
}
