.adverts-container {
  display: grid;
  grid-template-rows: auto 1fr;
  padding-top: var(--padding-top-page);
  padding-bottom: var(--padding-bottom-page);
  width: 100%;
}

.adverts-container select {
  justify-self: right;
  margin-bottom: 1.5rem;
}

.adverts-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1rem;
}

.adverts {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background: var(--c-w1);
  box-shadow: var(--box-shadow-pattern);
  -webkit-box-shadow: var(--box-shadow-pattern);
  -moz-box-shadow: var(--box-shadow-pattern);
  padding: 1rem;
  min-height: 11rem;
  align-items: center;
}

.adverts svg {
  width: 20px;
  height: 20px;
}

.adverts img {
  max-width: 9rem;
  max-height: 9rem;
}

.advert-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--c-w1);
  padding: 1rem;
  box-shadow: var(--box-shadow-pattern);
  -webkit-box-shadow: var(--box-shadow-pattern);
  -moz-box-shadow: var(--box-shadow-pattern);
}

.advert-infos {
  display: flex;
  gap: 1rem;
  height: max-content;
}

.advert-infos picture {
  max-width: max-content;
}

.advert-infos p {
  font: var(--font-pl);
}

.advert-infos span {
  display: block;
  font: var(--font-p);
}

.advert-infos > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

@media (max-width: 830px) {
  .advert-infos p {
    font: var(--font-p);
  }
}
