.user {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  flex: 1;
}

.user a svg {
  width: 24px;
  height: 24px;
  fill: #272727;
  left: 1rem;
}

@media (max-width: 830px) {
  .user {
    grid-template-columns: 1fr;
    height: 100%;
    grid-template-rows: auto 1fr;
  }

  .user .aside-elements {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    overflow-x: auto;
  }

  .user .aside-elements li {
    min-width: 10rem;
    max-width: 10rem;
  }

  .user a {
    flex-direction: column;
    border: none;
  }
}
