.categories-container {
  padding: 2rem;
}

.categories-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-weight: 400;
  position: relative;
}

.categories-container > div {
  border: 1px solid #a5a5a5;
  padding: 1rem 2rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.categories-container > div > p {
  margin-bottom: 0.5rem;
}

.categories {
  display: flex;
  flex-direction: column;
  position: relative;
}

.categories {
  border: 1px solid #a5a5a5;
  border-radius: 4px;
  height: max-content;
  width: max-content;
}

.categories .category:not(:last-child) {
  border-bottom: 1px solid #a5a5a5;
}

.category div a {
  display: grid;
  position: relative;
  z-index: 1;
  padding: 1.2em;
  margin: -1.2em;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link_item::after {
  content: '';
  display: inline-block;
  background-image: url('../../Assets/arrow.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}

.category > div {
  display: grid;
  padding: 1.2rem;
  width: 100%;
}

.categories li {
  cursor: pointer;
  transition: 0.2s;
}

.categories li:global(.active),
.categories li:hover {
  background: #dfdfdf;
}
