.product {
  padding: 1.5rem 0;
  width: 100%;
}

.product h1 {
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.products-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding-bottom: 1.5rem;
}

.products-content li {
  width: 100%;
  box-shadow: var(--box-shadow-pattern);
  -webkit-box-shadow: var(--box-shadow-pattern);
  -moz-box-shadow: var(--box-shadow-pattern);
  background: var(--c-w1);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.products-content li picture {
  display: block;
  height: 180px;
  opacity: 0.85;
  transition: 0.3s;
}

.products-content li picture:hover {
  opacity: 1;
}

.products-content li picture img {
  height: 100%;
  padding: 7px;
}

.price {
  position: absolute;
  bottom: 10px;
  font: var(--font-pp-600);
  background: var(--c-b2);
  color: var(--c-w1);
  padding: 0.4rem;
  border-radius: 4px;
  left: 10px;
}

@media (max-width: 51.875rem) {
  .products-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
