.product-content {
  padding-top: var(--padding-top-page);
  padding-bottom: var(--padding-bottom-page);
  width: 100%;
  flex: 1;
}

.product-content h1 {
  color: var(--c-b2);
  margin-bottom: 1.5rem;
  font: var(--font-ll-500);
  position: relative;
}

.product-content h1::before {
  content: '';
  display: inline-block;
  background: var(--c-g2);
  width: 18px;
  height: 18px;
  position: absolute;
  opacity: 0.8;
  border-radius: 2px;
  bottom: 5px;
  left: -4px;
  z-index: -1;
}

.product-form {
  display: flex;
  flex-direction: column;
}

.product-form label:not(:first-child),
.imgs-content,
.product-form input[type='file'] {
  margin-top: 1.3rem;
}

.product-form input:disabled,
.product-form input[type='file'] {
  padding: 0.3rem 0.4rem;
  font: var(--font-p);
}

.product-form textarea {
  padding: 0.4rem;
  max-height: 100%;
  max-width: 100%;
  min-height: 5rem;
}

.product-content a {
  text-align: center;
}

.imgs-content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border: 2px dashed var(--c-b3);
  width: 100%;
  max-height: 7rem;
  min-height: 7rem;
  overflow-y: auto;
  position: relative;
  margin-bottom: 1.3rem;
}

.imgs-content span {
  opacity: 0.3;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  display: block;
}

.imgs-content picture {
  border: 1px solid var(--c-b2);
  margin: 0.5rem;
}

.imgs-content img {
  max-height: 5rem;
}

@media (max-width: 320px) {
  .product-form input:disabled,
  .product-form input[type='file'] {
    padding: 0.3rem 0.4rem;
    font: var(--font-pp);
  }
}
