.categories-container {
  padding-top: var(--padding-top-page);
  padding-bottom: var(--padding-bottom-page);
  width: 100%;
}

.categories-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  font: var(--font-ll);
  position: relative;
}

.categories-container > .categories-content {
  border: 1px solid #a5a5a5;
  padding: 1rem 2rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.categories-container > .categories-content > p {
  margin-bottom: 0.5rem;
}

.categories {
  display: flex;
  flex-direction: column;
  position: relative;
}

.categories {
  border: 1px solid #a5a5a5;
  border-radius: 4px;
  height: max-content;
  width: max-content;
}

.categories .category:not(:last-child),
.category-link {
  border-bottom: 1px solid #a5a5a5;
}

.category div a {
  display: grid;
  position: relative;
  z-index: 1;
  padding: 1.2em;
  margin: -1.2em;
}

.category,
.category-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow::after {
  content: '';
  display: inline-block;
  background-image: url('../../Assets/arrow.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}

.category > div,
.category-link > div {
  display: grid;
  padding: 1.2rem;
  width: 100%;
}

.categories li {
  cursor: pointer;
  transition: 0.2s;
}

.categories li:global(.active),
.categories li:hover {
  background: #eee;
}

.category-link div {
  flex-grow: 1;
}

@media (max-width: 630px) {
  .categories {
    width: 100%;
  }

  .category {
    width: 100%;
    display: grid;
  }

  .category {
    position: relative;
  }

  .arrow::after {
    position: absolute;
    right: 10px;
    top: 1.2rem;
    transform: rotate(270deg);
  }
}
