.profile {
  padding-top: var(--padding-top-page);
  padding-bottom: var(--padding-bottom-page);
  width: 100%;
  height: 100%;
}

.profile-att-photo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--c-w2);
}

.profile-att-photo button {
  padding: 0.5rem 1rem;
  font: var(--font-pp);
}

.profile-att-photo label {
  color: var(--c-g1);
  margin: 0;
}

.profile-att-photo input[type='file'] {
  display: none;
}

.profile-photo {
  display: flex;
  gap: 1rem;
  align-items: start;
  width: 100%;
}

.profile-photo-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-photo-content label {
  display: flex;
  align-self: flex-end;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  padding-top: 1.5rem;
}

.profile-form button {
  padding: 0.5rem 1rem;
}

.profile-form .profile-form-name-phone {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.profile-form .profile-form-name-phone div {
  width: max-content;
  flex-grow: 1;
}

.profile-form label {
  display: block;
}
