.subcategory {
  display: none;
  position: absolute;
  left: 256px;
  top: 0;
  width: max-content;
  border: 1px solid #a5a5a5;
  border-radius: 4px;
}

.subcategory:global(.active) {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.subcategory li a {
  display: grid;
  padding: 1.2rem;
  width: 100%;
}

.subcategory li:not(:last-child) {
  border-bottom: 1px solid #a5a5a5;
}

.subcategory_title {
  cursor: pointer;
  transition: 0.2s;
}

.subcategory_title:hover {
  background: #dfdfdf;
}
