.subcategory {
  display: none;
  position: absolute;
  left: 256px;
  top: 0;
  width: max-content;
  border: 1px solid #a5a5a5;
  border-radius: 4px;
}

.subcategory:global(.active) {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.subcategory li a {
  display: grid;
  padding: 1.2rem;
  width: 100%;
  white-space: nowrap;
}

.subcategory li:not(:last-child) {
  border-bottom: 1px solid #a5a5a5;
}

.subcategory_title {
  cursor: pointer;
  transition: 0.2s;
}

.subcategory_title:hover {
  background: #dfdfdf;
}

@media (max-width: 630px) {
  .subcategory {
    position: static;
    width: 100%;
    border-radius: 0;
    border-bottom: none;
  }

  .subcategory:global(.active) {
    display: flex;
    overflow: auto;
    flex-direction: row;
  }

  .subcategory li a {
    padding: 1.5rem;
    border-right: 1px solid #c6c6c6;
  }

  .subcategory li:not(:last-child) {
    border-bottom: none;
  }
}
