.user-container {
  padding-top: var(--padding-top-page);
  padding-bottom: var(--padding-bottom-page);
  width: 100%;
  flex: 1;
}

.user-content {
  padding-bottom: var(--padding-bottom-page);
}

.user-content ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user-content ul li svg {
  background: #e1e1e1;
  width: 60px;
  height: 60px;
  padding: 0.4rem;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 4px rgb(206, 206, 206);
}

.user-infos {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.user-infos address,
.date {
  font-style: normal;
  font: var(--font-pp);
}

.date {
  border-left: 1px solid rgb(165, 165, 165);
  padding-left: 1rem;
}

.user-data,
.user-infos address {
  display: flex;
}

.user-infos address {
  gap: 0.2rem;
}

.user-data {
  gap: 1rem;
}

.links {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.links::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #e1e1e1;
  position: absolute;
  display: block;
  left: 0;
  margin-top: 2rem;
}

.links li a {
  position: relative;
  z-index: 1;
}

.links li a:global(.active)::after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--c-g2);
  position: absolute;
  display: block;
  top: 0px;
  z-index: 100;
  margin-top: 2rem;
}

@media (max-width: 400px) {
  .user-data {
    flex-direction: column;
    gap: 0.3rem;
  }
  .date {
    border-left: none;
    padding-left: 0;
  }
}
